.wrapper {
	border: 1px solid black;
	@include go-adaptive('width', 600, 300);
	@include go-adaptive('height', 600, 300);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.field {
		position: relative;
		@include go-adaptive('width', 400, 280);
		@include go-adaptive('height', 400, 280);
		border: 10px solid;
		border-image: url('/assets/images/border-image-min.jpg') 700;
		
		border-radius: 10px;
		background: url('/assets/images/background-min.jpg') center/50%;

		.domino {
			position: absolute;
			box-sizing: border-box;	
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 2px 2px 2px rgb(224, 153, 22) inset, 1px 1px 3px gray;
			border: 2px solid $color-domino-border;
			border-radius: 10px;
			background-color: $color-domino;
			font-family: Georgia, 'Times New Roman', Times, serif;
			
			color: $color-numbers;
			cursor: pointer;
			transition: all 0.3s;
			
		}
	}
}