$color-field-border: rgb(136, 82, 0);
$color-domino-border: rgb(194, 139, 57);
$color-domino: rgb(244, 175, 72);
$color-field: rgb(185, 185, 185);
$color-numbers: rgb(103, 62, 16);




@mixin go-adaptive($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	#{$property}: $startSize + px;
	@media (max-width: 1600px) {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / (1600 - 320)));
	}
}